*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	/* --col-primary-blue: #0ea5e9; */
	--col-primary-blue: #0e9fe2;
	--col-black-1: #020617;
	--col-grey-light-1: #e2e8f0;
	--col-grey-dark-1: #94a3b8;
	--col-grey-dark-2: #6b7280;

	--shadow-light: 0rem 0.2rem 1rem var(--col-grey-dark-1);
}

* {
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	color: var(--col-black-1);
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6rem;
	background-color: #000;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a:link,
a:visited,
a:active,
a:focus {
	text-decoration: none;
	color: inherit;
}

.icon {
	width: 2.5rem;
	height: 2.5rem;
}

.icon-light {
	fill: #fff;
}
.icon-dark {
	fill: var(--col-black-1);
}

.container {
	display: grid;
	grid-template-columns: 30rem auto;
	grid-template-rows: 18rem auto;
	height: 100vh;
	padding: 0 20rem;
	color: #fff;
}

.header {
	grid-column: 2/3;
	background-color: #fff;
	color: var(--col-black-1);
	padding: 0 6rem 1rem 4rem;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;

	box-shadow: var(--shadow-light);
	z-index: 100;
}

.header__grid-row-1 {
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 65% 1fr;
	align-items: center;
	gap: 10rem;
}

.header__search--div {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 2rem;
}

.search-input {
	outline: 0;
	border: 0;
	background-color: var(--col-grey-light-1);
	border-radius: 5rem;
	height: 3rem;
	padding: 0.5rem 1rem;
	transition: all 0.2s;
	font-size: 1.6rem;
	width: 100%;
}

.header__user--menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.user__avatar--small {
	border-radius: 100%;
	height: 4rem;
	width: 4rem;
	overflow: hidden;
}

.user__avatar--img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.user__avatar--caption {
	font-size: 2rem;
	font-weight: 700;
}

.user__avatar--big {
	border-radius: 100%;
	height: 8rem;
	width: 8rem;
	overflow: hidden;
}

.header__user {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 2rem;
}

.header__user--text-small {
	font-size: 1.2rem;
	font-weight: 700;
}

.header__user--text-big {
	font-size: 3rem;
}

.header__grid-row-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__user--nav {
	color: #fff;

	display: flex;
	align-items: center;
	gap: 2rem;
}

.btn {
	padding: 1rem 4rem;
	background-color: var(--col-primary-blue);
	border-radius: 2rem;

	font-size: 1.4rem;
	font-weight: 700;
}

.main {
	background-color: var(--col-grey-light-1);
	grid-column: 2/3;
	grid-row: 2/3;
}

.sidebar {
	background-color: var(--col-primary-blue);
	grid-row: 1/3;
}
